.main {

    padding: 32px;

    header {
        margin-left: 296px;

        h2 {
            margin-right: 50px;
        }
    }

    .panelIcon{
        
        gap:26.03px;
    }

    .btn-secondary{
        background-color: #fff;
        border: none;
    }

}



.dropdown-toggle::after {

    content: "\e5cf";
    font-family: "Material Icons";
    border-top: none;
    color: #198754;
}


.content{
    margin-top: 44px;
    margin-left: 296px;
    .dropdown {
        p{
            font-size: 12px;
        }
    }
    
    .list{
        font-size: 12px;
        p{
            margin-bottom: 0;
        }
    }

    .list-group-item{
        padding: 12px;
    }

    .list-group-item.active {
        
        background-color: #F8F9FA;
        border-color: #CED4DA;
    }

    .listBtn{
        padding: 0;
    }
}
